@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    height: 100vh;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}